<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LaundryBuoy</title>
    <link href="/img/logotitle.ico" rel="shortcut icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
        <center>
            <h1>Deliveryboy Page</h1>
            <a href="/deliveryboy/<%= deliveryboy._id %>/recharge" target="_blank" class="btn btn-default btn-sm">Recharge</a>
        </center>
        <h3><br></h3>
<div class="container">
    <center>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#readytopick">Pick (Vendor)</a></li>
            <li><a data-toggle="tab" href="#pickup">Pick (Customer)</a></li>
            <li><a data-toggle="tab" href="#deliver">Deliver</a></li>
        </ul>
    </center>

    <div class="tab-content">

        <div id="readytopick" class="tab-pane fade in active">

            <div class="row">
                <h2>Pick From Vendor</h2>

                <% deliveryboy.currentOrders.forEach(function(order){ if(order.status === 'ironed') { %>
          
                    <div class="col-lg-4 col-md-6 col-sm-12 well">
                        <p><strong>OrderID</strong> : <%= order._id %></p>
                        <p><span><strong>Tag</strong> : <%= order.customer.tagNumber %></span>
                        <span><strong>Bag</strong> : <%= order.customer.bagNumber %></span>
                        <% if (order.onlyIron) { %>
                            <span>Only Iron</span>
                        <% } %>
                        <span><strong>Name : </strong><%= order.customer.name %></span>
                        <p><span><%= order.customer.address %></span>
                        <span> : <strong><%= order.customer.pinCode %></strong></span></p>
                        <p><strong>Description</strong> : <%= order.description %></p>
                        <p><strong>Contact Number</strong> : <a href="tel:<%= order.customer.mainNumber %>"><%= order.customer.mainNumber %></a>
                        <span>
                            <a href="/deliveryboy/<%=deliveryboy._id%>/out/<%=order._id%>" class="btn btn-default btn-sm">Pick</a>
                        </span></p>
                    </div> 

                <% }}) %>
                     
            </div>
        
        </div>

        <div id="pickup" class="tab-pane fade">

            <div class="row">
                <h2>Pick From Customer</h2>

                <% deliveryboy.currentOrders.forEach(function(order){ if(order.status === 'booked') { %>
          
                    <div class="col-lg-4 col-md-6 col-sm-12 well">
                        <p><strong>OrderID</strong> : <%= order._id %></p>
                        <span><%= order.customer.name %></span>
                        <span> : <%= order.customer.address %></span>
                        <span> : <strong><%= order.customer.pinCode %></strong></span>
                        
                        <p><strong>Contact Number</strong> : <a href="tel:<%= order.customer.mainNumber %>"><%= order.customer.mainNumber %></a>
                        <span>
                            <a href="/deliveryboy/<%=deliveryboy._id%>/pickup/<%=order._id%>" class="btn btn-default btn-sm"> Pick</a>
                        </span></p>
                    </div> 

                <% }}) %>
                     
            </div>

        </div>

        <div id="deliver" class="tab-pane fade">

            <div class="row">
                <h2>Deliver</h2>

                <% deliveryboy.currentOrders.forEach(function(order){ if(order.status === 'out') { %>
          
                    <div class="col-lg-4 col-md-6 col-sm-12 well">
                        <p><strong>OrderID</strong> : <%= order._id %></p>
                        <p><span><strong>Tag</strong> : <%= order.customer.tagNumber %></span>
                        <% if (order.onlyIron) { %>
                            <span>Only Iron</span>
                        <% } %>
                        <span><strong>Name : </strong><%= order.customer.name %></span>
                        <p><span><%= order.customer.address %></span>
                        <span> : <strong><%= order.customer.pinCode %></strong></span></p>
                        <p><strong>Description</strong> : <%= order.description %></p>
                        <p><strong>Contact Number</strong> : <a href="tel:<%= order.customer.mainNumber %>"><%= order.customer.mainNumber %></a>
                        <span>
                            <a href="/deliveryboy/<%=deliveryboy._id%>/deliver/<%=order._id%>" class="btn btn-default btn-sm">Deliver</a>
                        </span></p>
                    </div> 

                <% }}) %>
                     
            </div>
        
        </div>
    </div>

    <br><br><br><br>

        <center>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#alreadypicked">Picked</a></li>
            <li><a data-toggle="tab" href="#alreadydelivered">Delivered</a></li>
            <li><a data-toggle="tab" href="#alreadyterminated">Terminated</a></li>
        </ul>
    </center>

    <div class="tab-content">

        <br><br>

        <div id="alreadypicked" class="tab-pane fade in active">

            <div class="row">

                <% deliveryboy.currentOrders.forEach(function(order){ if(order.status === 'picked') { %>
          
                    <div class="col-lg-4 col-md-6 col-sm-12 well">
                        <p><strong>OrderID</strong> : <%= order._id %></p>
                        <span><%= order.customer.name %></span>
                        <span> : <%= order.customer.address %></span>
                        <span> : <%= order.customer.pinCode %></span>
                        <p><span><strong>Tag</strong> : <%= order.customer.tagNumber %></span>
                        <span><strong>Bag</strong> : <%= order.customer.bagNumber %></span>
                        <% if (order.onlyIron) { %>
                            <span><strong> : Only Iron</strong></span>
                        <% } %>
                        <p><strong>Description</strong> : <%= order.description %></p>
                        <p>
                            <strong>Contact Number</strong> : <a href="tel:<%= order.customer.mainNumber %>"><%= order.customer.mainNumber %></a>
                            <% if(!order.isPaid){ %>
                            <span>
                                <a href="/deliveryboy/<%=deliveryboy._id%>/payment/<%=order._id%>" class="btn btn-default btn-sm">Receive Payment</a>
                            </span>
                            <% } else { %>
                                <span><strong>Paid</strong></span>
                            <% } %>
                        </p>
                    </div> 

                <% }}) %>
                     
            </div>
        
        </div>

        <div id="alreadydelivered" class="tab-pane fade">

            <div class="row">

                <% deliveryboy.currentOrders.forEach(function(order){ if(order.status === 'delivered') { %>
          
                    <div class="col-lg-4 col-md-6 col-sm-12 well">
                        <p><strong>OrderID</strong> : <%= order._id %></p>
                        <span><%= order.customer.name %></span>
                        <span> : <%= order.customer.address %></span>
                        <span> : <%= order.customer.pinCode %></span>
                        <p><span><strong>Tag</strong> : <%= order.customer.tagNumber %></span>
                        <% if (order.onlyIron) { %>
                            <span><strong> : Only Iron</strong></span>
                        <% } %>
                        <p><strong>Description</strong> : <%= order.description %></p>
                        <p><strong>Contact Number</strong> : <a href="tel:<%= order.customer.mainNumber %>"><%= order.customer.mainNumber %></a></p>
                    </div> 

                <% }}) %>
                     
            </div>

        </div>

        <div id="alreadyterminated" class="tab-pane fade">

            <div class="row">

                <% deliveryboy.currentOrders.forEach(function(order){ if(order.status === 'terminated') { %>
          
                    <div class="col-lg-4 col-md-6 col-sm-12 well">
                        <p>OrderID : <%= order._id %></p>
                        <p><strong>OrderID</strong> : <%= order._id %></p>
                        <span><%= order.customer.name %></span>
                        <span> : <%= order.customer.address %></span>
                        <span> : <%= order.customer.pinCode %></span>
                        <p><strong>Contact Number</strong> : <a href="tel:<%= order.customer.mainNumber %>"><%= order.customer.mainNumber %></a></p>
                    </div> 

                <% }}) %>
                     
            </div>

        </div>

    </div>
        
            
</div>


</body>
</html>