<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <p>Long Clothes Left : <%= order.customer.longClothes %></p>
    <p>Short Clothes Left : <%= order.customer.shortClothes %></p>
    <p>Long Clothes Given : <%= order.customer.longGiven %></p>
    <p>Short Clothes Given : <%= order.customer.shortGiven %></p>
    <p>Cost With Plan : <%= costWithPlan %><p>
    <p>Cost Without Plan : <%= costWithoutPlan %><p>

    <form action="/deliveryboy/<%= order.deliveryBoy._id %>/payment/<%= order._id %>" method="post">
        <div class="form-group">
            <label>Pay With Plan</label>
            <input type="text" class="form-control" name="payWithPlan">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Pay</button>
    </form>


</div>

</div>
</body>
</html>