<!-- views/clothes.ejs -->
<!doctype html>
<html>
<head>
    <title>LaundryBuoy</title>
    <link href="/img/logotitle.ico" rel="shortcut icon">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>


<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Clothe Page</h1>
        <a href="/" class="btn btn-default btn-sm">Home</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/admin" class="btn btn-default btn-sm">Back</a>
    </div>

    <div class="col-sm-6 col-sm-offset-3 jumbotron text-center">

        <h3><span class="fa fa-sign-in"></span>Add New Clothes</h3>

        <!-- CREATING -->
                <form action="/admin/clothes" method="post">

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="newClothe[name]">
                    </div>
                    <div class="form-group">
                        <label>Category (select one):</label>
                          <select class="form-control" name="newClothe[category]">
                            <option>small</option>
                            <option>big</option>
                            <option>superbig</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label>Price with Iron</label>
                        <input type="number" class="form-control" name="newClothe[price]">
                    </div>
                    <div class="form-group">
                        <label>Iron Price</label>
                        <input type="number" class="form-control" name="newClothe[ironPrice]">
                    </div>

                    <button type="submit" class="btn btn-success btn-lg">Insert</button>
                    
                </form>
        <!-- CREATING -->

    </div>

    <div class="col-sm-6 col-sm-offset-3">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>Category</td>
                    <td>W&I Price</td>
                    <td>Iron Price</td>
                    <td>Remove</td>
                </tr>
                <% clothes.forEach(function(clothe){ %>    

                    <tr>
                        <td><%= clothe.name %></td>
                        <td><%= clothe.category %></td>
                        <td><%= clothe.price %></td>
                        <td><%= clothe.ironPrice %></td>
                        <td>
                            <form class="form-inline" action="/admin/clothes/<%=clothe._id%>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        </td>
                    </tr>

                <% }) %>
            </table>
        </div>

    </div>

</div>
</body>
</html>