<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>


<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Clothe Page</h1>
        <a href="/" class="btn btn-default btn-sm">Home</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/admin" class="btn btn-default btn-sm">Back</a>
    </div>

    <div class="col-sm-6 col-sm-offset-3 jumbotron text-center">
        <p><%= user.local.email %></p>

        <h3><span class="fa fa-sign-in"></span>add new clothes</h3>

        <!-- CREATING -->
                <form action="/admin/clothes" method="post">

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="newClothe[name]">
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <input type="text" class="form-control" name="newClothe[category]">
                    </div>
                    <div class="form-group">
                        <label>Img link</label>
                        <input type="text" class="form-control" name="newClothe[image]">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" class="form-control" name="newClothe[price]">
                    </div>
                    <div class="form-group">
                        <label>Iron Price</label>
                        <input type="number" class="form-control" name="newClothe[ironCost]">
                    </div>

                    <button type="submit" class="btn btn-success btn-lg">Insert</button>
                    
                </form>
        <!-- CREATING -->

        <% clothes.forEach(function(clothe){ %>
                

            <form class="form-inline" action="/admin/clothes/<%=clothe._id%>?_method=DELETE" method="POST">
                <label><%= clothe.name %> in <%= clothe.category %> with price <%= clothe.price %> and <%= clothe.ironCost %></label>
                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
            </form>
            <img src="<%= clothe.image %>">

        <% }) %>

    </div>

</div>
</body>
</html>