<html>
    <head>
        <title>
            LaundryBuoy
        </title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>

        <div class="col-sm-6 col-sm-offset-3 jumbotron text-center">
            user id =  <p><%= customer.user %></p>
            customer id = <p><%= customer._id %></p>
            refered by <p><%= customer.referedBy %></p>

                <h1><span class="fa fa-sign-in"></span>Enter Details</h1>


                <!-- UPDATE FORM -->
                <form action="/admin/customerdetails/<%=customer._id%>" method="post">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="customer[name]" value="<%= customer.name %>">
                    </div>
                    <div class="form-group">
                        <label>Tag number</label>
                        <input type="text" class="form-control" name="customer[tagNumber]" value="<%= customer.tagNumber %>">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" name="customer[address]"><%= customer.address %></textarea>
                    </div>
                    <div class="form-group">
                        <label>Pin Code</label>
                        <input type="number" class="form-control" name="customer[pinCode]" value="<%= customer.pinCode %>">
                    </div>
                    <div class="form-group">
                        <label>Days Left</label>
                        <input type="number" class="form-control" name="customer[daysLeft]" value="<%= customer.daysLeft %>">
                    </div>
                    <div class="form-group">
                        <label>Services Left</label>
                        <input type="number" class="form-control" name="customer[services]" value="<%= customer.services %>">
                    </div>
                    <div class="form-group">
                        <label>Long Clothes</label>
                        <input type="number" class="form-control" name="customer[longClothes]" value="<%= customer.longClothes %>">
                    </div>
                    <div class="form-group">
                        <label>Short Clothes</label>
                        <input type="number" class="form-control" name="customer[shortClothes]" value="<%= customer.shortClothes %>">
                    </div>
                    <div class="form-group">
                      <label for="sel1">Select a Mobile number</label>
                      <select class="form-control" name="customer[mainNumber]">

                        <option value="" selected disabled hidden><%= customer.mainNumber %></option>
                        <% customer.numbers.forEach(function(cell){ %>
                            <option>
                                <%= cell.number %>
                            </option>
                        <% }) %>
                        
                      </select>
                    </div>

                    <button type="submit" class="btn btn-success btn-lg">Enter</button>
                    
                </form>
        </div>
    </body>
</html>