<html>
    <head>
     <title>LaundryBuoy</title>
    <link href="/img/logotitle.ico" rel="shortcut icon">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>

        <div class="col-sm-6 col-sm-offset-3 jumbotron text-center">

                <h2><span class="fa fa-sign-in"></span>Delivery Boy Details</h2>
                <p><h3>Rating : <%= deliveryboy.rating %></h3></p>

                <div class="page-header text-center">
                    <a href="/" class="btn btn-default btn-sm">Home</a>
                    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                    <a href="/admin/deliveryboys" class="btn btn-default btn-sm">Back</a>
                </div>


                <!-- UPDATE FORM -->
                <form action="/admin/deliveryboys/<%=deliveryboy._id%>" method="post">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" value="<%= deliveryboy._id %>" readonly>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="deliveryboy[name]" value="<%= deliveryboy.name %>">
                    </div>
                    <div class="form-group">
                        <label>DeliveryBoy Tag</label>
                        <input type="text" class="form-control" name="deliveryBoy[username]" value="<%= deliveryboy.username %>" readonly>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="deliveryboy[password]" value="<%= deliveryboy.password %>">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" name="deliveryboy[address]"><%= deliveryboy.address %></textarea>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="deliveryboy[email]" value="<%= deliveryboy.email %>">
                    </div>
                    <div class="form-group">
                        <label>Mobile Number</label>
                        <input type="text" class="form-control" name="deliveryboy[mobile]" value="<%= deliveryboy.mobile %>">
                    </div>

                    <button type="submit" class="btn btn-success btn-lg">Enter</button>
                    
                </form>
        </div>
    </body>
</html>