<html>
    <head>
        <title>LaundryBuoy</title>
        <link href="/img/logotitle.ico" rel="shortcut icon">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>

        <div class="col-sm-6 col-sm-offset-3 jumbotron text-center">

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td><strong>Order ID </strong></td>
                        <td><%= order._id %></td>
                    </tr>
                    <tr>
                        <td><strong>Customer</strong></td>
                        <td><a href="/admin/customerdetails/<%= order.customer._id %>"><%= order.customer.name %></a></td>
                    </tr>
                    <tr>
                        <td><strong>Vendor</strong></td>
                        <td><a href="/admin/vendors/<%= order.vendor._id %>"><%= order.vendor.name %></a></td>
                    </tr>
                    <tr>
                        <td><strong>Delivery Boy</strong></td>
                        <td><a href="/admin/deliveryboys/<%= order.deliveryBoy._id %>"><%= order.deliveryBoy.name %></a></td>
                    </tr>
                    <tr>
                        <td><strong>Order Date</strong></td>
                        <td><%= order.orderDate %></td>
                    </tr>
                    <tr>
                        <td><strong>Delivery Date</strong></td>
                        <td><%= order.deliveryDate %></td>
                    </tr>
                </table>
            </div>

            <div class="page-header text-center">
                <a href="/" class="btn btn-default btn-sm">Home</a>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                <a href="/admin/order" class="btn btn-default btn-sm">Back</a>
            </div>

                <h3><span class="fa fa-book"></span>Change Order Details</h3>


                <!-- UPDATE FORM -->
                <form action="/admin/order/<%=order._id%>" method="post">

                    <div class="form-group">
                        <label>Cost</label>
                        <input type="number" class="form-control" name="order[cost]" value="<%= order.cost %>">
                    </div>
                        <div class="form-group">
                            <label>Is Paid</label>
                            <label class="radio-inline">
                              <input type="radio" name="radiopaid" value="yes" <% if(order.isPaid ){ %> checked <% } %> >yes
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="radiopaid" value="no" <% if(!order.isPaid){ %> checked <% } %> >no
                            </label>
                        </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="order[description]"><%= order.description %></textarea>
                    </div>
                    <div class="form-group">
                        <label>Rating</label>
                        <input type="number" class="form-control" name="order[rating]" pattern="([0-5]){5}" value="<%= order.rating %>">
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <label class="radio-inline">
                          <input type="radio" name="radiostatus" value="booked" <% if(order.status == "booked" ){ %> checked <% } %> >booked
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="radiostatus" value="picked" <% if(order.status == "picked" ){ %> checked <% } %> >picked
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="radiostatus" value="received" <% if(order.status == "received" ){ %> checked <% } %> >received
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="radiostatus" value="washed" <% if(order.status == "washed" ){ %> checked <% } %> >washed
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="radiostatus" value="ironed" <% if(order.status == "ironed" ){ %> checked <% } %> >ironed
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="radiostatus" value="out" <% if(order.status == "out" ){ %> checked <% } %> >out
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="radiostatus" value="delivered" <% if(order.status == "delivered" ){ %> checked <% } %> >delivered
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="radiostatus" value="terminated" <% if(order.status == "terminated" ){ %> checked <% } %> >terminated
                        </label>
                        
                    </div>
                    <div class="form-group">
                        <label>Only Iron</label>
                        <label class="radio-inline">
                          <input type="radio" name="radioiron" value="yes" <% if(order.onlyIron ){ %> checked <% } %> >yes
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="radioiron" value="no" <% if(!order.onlyIron){ %> checked <% } %> >no
                        </label>
                    </div>

                    <button type="submit" class="btn btn-success btn-lg">Change</button>
                    
                </form>
        </div>
    </body>
</html>