<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LaundryBuoy</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="/lib/owlcarousel/owl.carousel.css" rel="stylesheet">
  <link href="/lib/owlcarousel/owl.transitions.css" rel="stylesheet">
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/venobox/venobox.css" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="/css/nivo-slider-theme.css" rel="stylesheet">
  <!-- Main Stylesheet File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="/css/responsive.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar-example">

  <div id="preloader"></div>

  <header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <!-- Navigation -->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                <!-- Brand -->
                <a class="navbar-brand page-scroll sticky-logo" href="/">
                  <h1><span>Laundry</span>Buoy</h1>
                   <img src="img/logo.png" alt="" title=""> 
                </a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              
              <div class="tab-menu collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
              <!-- Nav tabs -->
               <ul id="myTab" class="nav navbar-nav navbar-right nav-pills nav-stacked" role="tablist">
                        <li class="active"><a class="nav-link" href="#home" role="tab" data-toggle="tab">Home</a></li>
                        <li><a class="nav-link" href="#services" role="tab" data-toggle="tab">About</a></li>
                        <li><a class="nav-link" href="#pricing" role="tab" data-toggle="tab">Prices</a></li>
                        <li><a class="nav-link" href="#about" role="tab" data-toggle="tab">Services</a></li>
                        <li><a class="nav-link" href="#contact" role="tab" data-toggle="tab">Contact</a></li>
                  </ul>
            </div>
              <!-- navbar-collapse -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
  </header>
  <!-- header end -->









<div class="zoom">
  <li style="font-size: 80px;" class="zoom-fab zoom-btn-large" id="zoomBtn">+</li>
  <ul class="zoom-menu">
    <li class="zoom-fab zoom-btn-sm zoom-btn-person scale-transition scale-out"><a style="font-size: 20px; " href="/signup"><center>SignUp</center></a></li>
    <li class="zoom-fab zoom-btn-sm zoom-btn-tangram scale-transition scale-out"><a style="font-size: 20px;coor:black;" href="/login"><center>Login</center></a></li>
    <li class="zoom-fab zoom-btn-sm zoom-btn-feedback scale-transition scale-out"><a style="font-size: 20px;line-height: 15px;" href="/deliveryboylogin"><center>Delivery Boy Login</center></a></li>
    <li class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out"><a style="font-size: 20px; color:black; line-height: 15px;" href="/vendorlogin"><center>Vendor Login</center></a></li>
  </ul>
</div>










  <!-- Start Slider Area -->
  <div class="tab-content">
            <div class="tab-pane active slider-area" id="home">
              <div class="tab-inner">
    <div class="bend niceties preview-2">
      <div id="ensign-nivoslider" class="slides">
        <img src="img/slider/slider3.jpg" alt="" title="#slider-direction-1" />
      </div>

      <!-- direction 1 -->
      <div id="slider-direction-1" class="slider-direction slider-one">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content">
                <!-- layer 1 -->
                <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
                  <h2 class="title1">Freedom from Laundry </h2>
                </div>
                <!-- layer 2 -->
                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                  <h1 class="title2">We do the job you hate to do.</h1>
                </div>
                <!-- layer 3 -->
                <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                  <a class="ready-btn right-btn page-scroll" href="/pincode">Order Pickup Now</a>
                  <a class="ready-btn page-scroll" href="/rate">View Complete Rate List</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
</div>
  <!-- End Slider Area -->
  

  <!-- Start Service area -->
  <div id="services" class="tab-pane services-area area-padding">
    <div class="tab-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <br><br>
            <h2>Why Us?</h2>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="services-contents">
          <!-- Start Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    </a>
                  <h4>Save Time</h4>
                  <p>
                    Even if you only do one load a day, you're still spending anywhere from 7-12 hrs on your laundry alone per week. Outsourcing this chore will save you lots of time.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    </a>
                  <h4>Outsourcing is in</h4>
                  <p>
                    The average Indian has never been busier, but everyone wants a clean house. Your outsource your housekeeping, why not outsource your laundry too.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    </a>
                  <h4>Easy to use</h4>
                  <p>
                    We're just one click away. Rest yourselves at home and we'll manage everything from pickup to washing, ironing and delivering at your doorsteps.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    </a>
                  <h4>Do Something else </h4>
                  <p>
                    With all that extra time, you can finish that presentation for work, go on adventure with your kids, or spend some time with your loved ones.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    </a>
                  <h4>It's Green</h4>
                  <p>
                   We use natural laundry detergents and high efficiency machines keeping your laundry clean and the planet green.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    </a>
                  <h4>You're in Charge</h4>
                  <p>
                    At Laundry Buoy, we do our best to accommodate your needs and requests.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
  <!-- End Service area -->
  <!-- start pricing area -->

  <div id="pricing" class="tab-pane pricing-area area-padding">
    <div class="tab-inner">
    <div class="container">
      <div class="tab-menu">
            <!-- Nav tabs -->
            <br><br>
            <ul class="nav nav-tabs" role="tablist">
              <li class="active">
                <a href="#p-view-1" role="tab" data-toggle="tab"><h3>Single Order</h3></a>
              </li>
              <li>
                <a href="#p-view-2" role="tab" data-toggle="tab"><h3>Monthly Plans</h3></a>
              </li>
              
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active " id="p-view-1">
              <div class="tab-inner">

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <br><br>
            <h2>Single Order</h2>
          </div>
        </div>
      </div>
      <div class="row">

 
        <% singleservices.forEach(function(singleservice){ %>
           
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="pri_table_list">
                  <h3>Single Order<br/> <span><%= singleservice.amount %>N</span></h3>
                  <ol text-align:center>
                    <li>Cost : Rs. <%= singleservice.amount %></li>
                    <li>Total Clothes : <%= singleservice.totalClothes %></li>
                  </ol>
                <form method="get" action="/pincode">
                     <button type="submit">Order pickup now</button>
                </form>
                </div>
              </div>     
          
        <% }) %>





      </div></div></div>

            <div class="tab-pane" id="p-view-2">
              <div class="tab-inner">
                <div class="row">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <br><br>
            <h2>Monthly Plans</h2>
          </div>
        </div>
      </div>



        <% plans.forEach(function(plan){ %>
           
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="pri_table_list">
                  <h3>Monthly Plans<br/> <span><%= plan.amount %>N</span></h3>
                  <ol text-align:center>
                    <li>Cost : Rs. <%= plan.amount %></li>
                    <li>Short Clothes : <%= plan.shortClothes %></li>
                    <li>Long Clothes : <%= plan.longClothes %></li>
                    <li>Validity : <%= plan.validity %></li>
                  </ol>
                <form method="get" action="/pincode">
                     <button type="submit">Order pickup now</button>
                </form>
                </div>
              </div> 
        <% }) %>



      </div></div></div>

          </div>
    </div>
  </div>
  <div>
      <div class="pri_table_list">
        <br><br>
        <button><a href="rate.ejs">View Complete Rate List</a></button>
      </div>
  </div>
  <div >
      <div class="row">
      </div>
  </div>
</div>
   

  <!-- End pricing table area -->
 
  <!-- Start About area -->
              
  <div id="about" class="tab-pane about-area area-padding">
    <div class="tab-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
      <br><br>
            <h2>Our Services</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <a href="#">
                  <img src="img/about/laundry.jpg" alt="">
                </a>
            </div>
          </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <a href="#">
                <center><h3>We Offer</h3></center>
              </a>
              <h4>
               <center> 48 Hours Delivery!<br> Free Pickup Delivery!!</center>
              </h4>
              <br>
              <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <ul><center>
                <li>
                  <i class="fa fa-check"></i> Cloth Wash
                </li>
                <li>
                  <i class="fa fa-check"></i> Cloth Iron
                </li>
                <li>
                  <i class="fa fa-check"></i>We Fold
                </li></center>
              </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <ul><center>
                <li>
                  <i class="fa fa-check"></i> Dry Clean
                </li>
                <li>
                  <i class="fa fa-check"></i> Shoe Clean
                </li>
                <li>
                  <i class="fa fa-check"></i> Cloth Packing
                </li></center>
              </ul>
            </div>
          </div>
        </div>
            </div>
          </div>
        </div>
        <!-- End col-->
      </div>
    </div>
  </div>
</div>
  <!-- End About area -->
  <!-- Start contact Area -->
  <div id="contact" class="tab-pane contact-area">
    <div class="contact-inner area-padding">
      <div class="tab-inner">
      <div class="contact-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <br><br>
              <h2>Contact us</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-mobile"></i>
                <p>
                  Call: +91 8178 33 5478<br>
                 Call: +91 8510 90 8590
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-envelope-o"></i>
                <p>
                  Email: laundrybuoy@gmail.com<br>
                  <span>Web: www.laundrybuoy.com</span>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-map-marker"></i>
                <p>
                  Location: Pkt C5, H. No. 328/329<br>
                  <span>Rohini Sec-6, Delhi-85</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <!-- Start Google Map -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <!-- Start Map -->
              <div id="google-map" data-latitude="28.7183693" data-longitude="77.2580268"></div>
            <!-- End Map -->
          </div>
          <!-- End Google Map -->

          <!-- Start  contact -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form contact-form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>

              <form action="/feedback" method="post" role="form" class="contactForm">
                 <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
              
            </div>
          </div>
          <!-- End Left contact -->
        </div>
      </div>
    </div>
</div>
</div>
</div>
</body>
  <!-- End Contact Area -->
 <!-- Start Testimonials -->

  <div class="testimonials-area">
    <div class="testi-inner area-padding">
      <div class="testi-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- Start testimonials Start -->
            <div class="testimonial-content text-center">
              <a class="quate" href="#"><i class="fa fa-quote-right"></i></a>
              <!-- start testimonial carousel -->
              <div class="testimonial-carousel">
                <div class="single-testi">
                  <div class="testi-text">
                    <p>I am highly impressed by the professionalism these young guys have demonstrated. They not only picked it from my doorstep but also delivered it within the given time and at a much cheaper rates. Keep up the good work! 
                    </p>
                    <h6>Rahul</h6>
                  </div>
                </div>
                <!-- End single item -->
                <div class="single-testi">
                  <div class="testi-text">
                    <p>
                      Have had them since their inauguration, after others service didn't work out. They have been outstanding. I have weekly pickups. They're like laundry fairies. They're incredibly professional, punctual, reliable, and do a fantastic job.
                    </p>
                    <h6>Anjali</h6>
                  </div>
                </div>
                <!-- End single item -->
                <div class="single-testi">
                  <div class="testi-text">
                    <p>
                      I got their flyer few days back and I am a regular user of their service since then. The quality they provide is satisfactory and the turnaround time is pretty fast. No one gives back in just 1 day. The best laundry service for a senior citizen like me.
                    </p>
                    <h6>Karan</h6>
                  </div>
                </div>
                <!-- End single item -->
              </div>
            </div>
            <!-- End testimonials end -->
          </div>
          <!-- End Right Feature -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Testimonials -->
  <!-- Start Footer bottom Area -->
  <footer>
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <h2><span>Laundry</span>Buoy</h2>
                </div>

                <p>Freedom from laundry.<br>We do the job you hate to do.<br><br>Follow us on :</p>
                <div class="footer-icons">
                  <ul>
                    <li>
                      <a href="https://www.facebook.com/LaundryBuoy/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="https://plus.google.com/114646534090280070226"><i class="fa fa-google"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4>Contact Us</h4>
                <p>
                 You can connect to us through
                </p>
                <div class="footer-contacts">
                  <p><span>Mobile:</span> 8178335478</p>
                  <p><span>WhatsApp:</span> 8510908590</p>
                  <p><span>Email:</span> laundrybuoy@gmail.com</p>
                  <p><span>Working Hours:</span> 9am-9pm (Fridays Off)</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4>Instagram</h4>
                <div class="flicker-img">
                  <a href="#"><img src="img/portfolio/1.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/2.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/3.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/4.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/5.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/6.jpg" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-area-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="copyright text-center">
              <p>
                &copy; Copyright 2018 <strong>LaundryBuoy</strong>. All Rights Reserved
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<style type="text/css">
  .zoom {
  position: fixed;
  bottom: 45px;
  right: 24px;
  height: 70px;
  border-radius: 50%;
  z-index: 9999999999;
}

.zoom-fab {
  display: inline-block;
  width: 100px;
  height: 60px;
  line-height: 20px;
  border-radius: 10%;
  background-color: #009688;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  transition: 0.2s ease-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #FFF;
}

.zoom-fab:hover {
  background-color: pink;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.zoom-btn-large {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  background-color:  red;
}

.zoom-menu {
  position: absolute;
  bottom: 70px;
  top: auto;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 300px;
  list-style: none;
  text-align: bottom;
}

.zoom-menu li {
  display: inline-block;
  margin-bottom: 10px;
}

.zoom-card {
  position: absolute;
  bottom:  150px;
  right : 70px;
  transition: box-shadow 0.25s;
  padding: 24px;
  border-radius: 2px;
  background-color: #009688;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: #FFF;
}

.zoom-card ul {
  -webkit-padding-start: 0;
  list-style: none;
  text-align: top;
}
.zoom-btn-person { background-color: #F44336; }

.zoom-btn-person:hover { background-color: #e57373; }

.zoom-btn-doc { background-color: #ffeb3b; }

.zoom-btn-doc:hover { background-color: #fff176; }

.zoom-btn-tangram { background-color: #4CAF50; }

.zoom-btn-tangram:hover { background-color: #81c784; }

.zoom-btn-report { background-color: #2196F3; }

.zoom-btn-report:hover { background-color: #64b5f6; }

.zoom-btn-feedback { background-color: #9c27b0; }

.zoom-btn-feedback:hover { background-color: #ba68c8; }

.scale-transition { transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important; }

.scale-transition.scale-out {
  transform: scale(0);
  transition: transform 0.2s !important;
}

.scale-transition.scale-in { transform: scale(1); }
</style>
  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/knob/jquery.knob.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/parallax/parallax.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
  <script src="lib/appear/jquery.appear.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <script src="js/main.js"></script>
<script type="text/javascript">
  $('#zoomBtn').click(function() {
  $('.zoom-btn-sm').toggleClass('scale-out');
  if (!$('.zoom-card').hasClass('scale-out')) {
    $('.zoom-card').toggleClass('scale-out');
  }
});

$('.zoom-btn-sm').click(function() {
  var btn = $(this);
  var card = $('.zoom-card');
  if ($('.zoom-card').hasClass('scale-out')) {
    $('.zoom-card').toggleClass('scale-out');
  }
  if (btn.hasClass('zoom-btn-person')) {
    card.css('background-color', '#d32f2f');
  } else if (btn.hasClass('zoom-btn-doc')) {
    card.css('background-color', '#fbc02d');
  } else if (btn.hasClass('zoom-btn-tangram')) {
    card.css('background-color', '#388e3c');
  } else if (btn.hasClass('zoom-btn-report')) {
    card.css('background-color', '#1976d2');
  } else {
    card.css('background-color', '#7b1fa2');
  }
});

</script>
  <script>
   $('#myTab a').click(function (e) {
     e.preventDefault()
     $(this).tab('show')
   })
</script>
</body>

</html>