<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LaundryBuoy</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/img/logotitle.ico" rel="shortcut icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="/lib/owlcarousel/owl.carousel.css" rel="stylesheet">
  <link href="/lib/owlcarousel/owl.transitions.css" rel="stylesheet">
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/venobox/venobox.css" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="/css/nivo-slider-theme.css" rel="stylesheet">
  <!-- Main Stylesheet File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="/css/responsive.css" rel="stylesheet">
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
</head>

<body data-spy="scroll" data-target="#navbar-example">

  <div id="preloader"></div>

  <header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-12">

            <!-- Navigation -->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                  </button>
                <!-- Brand -->
                <a class="navbar-brand page-scroll sticky-logo" href="/">
                  <img src="img/logo.png" width="40" height="40" alt="" title="LaundryBuoy" style="border-radius: 50%;"> 
                  <h1 style="top:-40px;"><span>Laundry</span>Buoy</h1>
                </a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              
              <div class="tab-menu collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
              <!-- Nav tabs -->
               <ul id="myTab" class="nav navbar-nav navbar-right nav-pills nav-stacked" role="tablist">
                        <li class="active"><a class="nav-link" href="#home" role="tab" data-toggle="tab">Home</a></li>
                        <li><a class="nav-link" href="#services" role="tab" data-toggle="tab">About</a></li>
                        <li><a class="nav-link" href="#pricing" role="tab" data-toggle="tab">Plans</a></li>
                        <li><a class="nav-link" href="#rate" role="tab" data-toggle="tab">Prices</a></li>
                        <li><a class="nav-link" href="#about" role="tab" data-toggle="tab">Services</a></li>
                        <li><a class="nav-link" href="#contact" role="tab" data-toggle="tab">Contact</a></li>
                  </ul>
            </div>
              <!-- navbar-collapse -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
  </header>
  <!-- header end -->









<div class="zoom">
  <li style="font-size: 50px;" class="zoom-fab zoom-btn-large" id="zoomBtn">+</li>
  <ul class="zoom-menu">
    <% if(!user){ %>

      <li class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out" data-toggle="tooltip" title="Login"><a style="font-size: 40px;line-height: 0px" href="/login"><center><span class="glyphicon glyphicon-log-in" style="color:black;"></span></center></a></li>

    <% } else { %>

      <li class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out" data-toggle="tooltip" title="Logout"><a style="font-size: 40px;line-height: 0px" href="/logout"><center><span class="glyphicon glyphicon-log-out" style="color:black;"></span></center></a></li>

    <% } %>

      <li class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out" data-toggle="tooltip" title="Call"><a style="font-size: 40px;line-height: 0px" href="tel:8178335478"><center><span class="fa fa-phone" style="color:black;"></span></center></a></li>

      <li class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out" data-toggle="tooltip" title="WhatsApp"><a style="font-size: 40px;line-height: 0px" href="https://wa.me/918510908590"><center><span class="fa fa-whatsapp" style="color:black;"></span></center></a></li>
  </ul>
</div>










  <!-- Start Slider Area -->
  <div class="tab-content">
            <div class="tab-pane active slider-area" id="home">
              <div class="tab-inner">
    <div class="bend niceties preview-2">
      <div id="ensign-nivoslider" class="slides">
        <img src="img/slider/slider3.jpg" alt="" title="#slider-direction-1" />
      </div>

      <!-- direction 1 -->
      <div id="slider-direction-1" class="slider-direction slider-one">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content">
                <!-- layer 1 -->
                <div class="layer-1-1 wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
                  <h2 class="title1">Freedom from Laundry </h2>
                </div>
                <!-- layer 2 -->
                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                  <h1 class="title2">We do the job you hate to do.</h1>
                </div>
                <!-- layer 3 -->
                <div class="layer-1-3 wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                  <a class="ready-btn right-btn page-scroll" href="/pincode">Order Now</a>
                  <% if(!user) { %>
                    <a class="ready-btn page-scroll" href="/signup">SignUp</a>
                  <% } else { %>
                    <a class="ready-btn page-scroll" href="/profile">Hi, 
                        <% if(user.local.email) { %>
                          <%= user.local.email %>
                        <% } else if(user.google.email) { %>
                          <%= user.google.email %>
                        <% } else { %>
                          <%= user.facebook.email %>
                        <% } %>
                    </a>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
</div>
  <!-- End Slider Area -->
  

  <!-- Start Service area -->
  <div id="services" class="tab-pane services-area area-padding">
    <div class="tab-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <br><br>
            <h2>Why Us?</h2>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="services-contents">
          <!-- Start Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    </a>
                    <h2><span class="fa fa-clock-o icons" style="font-size: 40px;"></span></h2>
                  <h4 style="right: 10px;"><b>Save Time</b></h4>
                  <p style="font-size: 18px;">
                    Even if you only do one load a day, you're still spending anywhere from 7-12 hrs on your laundry alone per week. Outsourcing this chore will save you lots of time.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    </a>
                   <h2><span class="fa fa-home" style="font-size: 40px"></span></h2>
                  <h4><b>Outsourcing is in</b></h4>
                  <p style="font-size: 18px;">
                    The average Indian has never been busier, but everyone wants a clean house. You outsource your housekeeping, why not outsource your laundry too.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    </a>
                   <h2><span style="font-size: 80px">&#10004;</span></h2>
                  <h4><b>Easy to use</b></h4>
                  <p style="font-size: 18px;">
                    We're just one click away. Rest yourselves at home and we'll manage everything from pickup to washing, ironing and delivering at your doorsteps.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    </a>
                    <h2><span class="fa fa-lightbulb-o" style="font-size: 40px;"></span></h2>
                  <h4><b>Do Something else</b> </h4>
                  <p style="font-size: 18px;">
                    With all that extra time, you can finish that presentation for work, go on adventure with your kids, or spend some time with your loved ones.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    </a>
                    <h2><span class="fa fa-leaf" style="font-size: 40px"></span></h2>
                  <h4><b>It's Green</b></h4>
                  <p style="font-size: 18px;">
                   We use natural laundry detergents and high efficiency machines keeping your laundry clean and the planet green.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    </a>
                   <h2> <span class="fa fa-user" style="font-size: 40px"></span></h2>
                  <h4><b>You're in Charge</b></h4>
                  <p style="font-size: 18px;">
                    At Laundry Buoy, we do our best to accommodate your needs and requests.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
  <!-- End Service area -->
  <!-- start pricing area -->

  <div id="pricing" class="tab-pane pricing-area area-padding">
    <div class="tab-inner">
    <div class="container">
      <div class="tab-menu">
            <!-- Nav tabs -->
            <br><br>
            <ul class="nav nav-tabs" role="tablist">
              <li class="active">
                <a href="#p-view-1" role="tab" data-toggle="tab"><h6>Single Order</h6></a>
              </li>
              <li>
                <a href="#p-view-2" role="tab" data-toggle="tab"><h6>Monthly Plans</h6></a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active " id="p-view-1">
              <div class="tab-inner">

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <br><br>
            <h2>Single Order</h2>
          <h4>* Service Charges are extra as applicable.</h4>
          </div>
        </div>
      </div>
      <div class="row">

 
        <% singleservices.forEach(function(singleservice){ %>
           
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="pri_table_list">
                  <h3>Single Order<br/> <span><%= singleservice.amount %>N</span></h3>
                  <ol text-align:center>
                    <li>Cost : Rs. <%= singleservice.amount %></li>
                    <li>Total Clothes : <%= singleservice.totalClothes %></li>
                    <br>
                    <button data-toggle="modal" data-target="#single<%= singleservice.amount %>"><center><a style="font-size: 15px">View More</a></center></button>
                  </ol>
                </div>
              </div>     
          
        <% }) %>





      </div></div></div>

            <div class="tab-pane" id="p-view-2">
              <div class="tab-inner">
                <div class="row">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <br><br>
            <h2>Monthly Plans</h2>
          </div>
        </div>
      </div>



        <% plans.forEach(function(plan){ %>
           
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="pri_table_list">
                  <h3>Monthly Plans<br/> <span><%= plan.amount %>N</span></h3>
                  <ol text-align:center>
                    <center>
                    <li>Cost : Rs. <%= plan.amount %></li>
                    <li>Small Clothes : <%= plan.shortClothes %></li>
                    <li>Big Clothes : <%= plan.longClothes %></li>
                    <li>Validity : <%= plan.validity %></li>
                    <br>
                    <button data-toggle="modal" data-target="#plan<%=plan.amount %>"><center><a style="font-size: 15px">View More</a></center></button>
                  </center>
                  </ol>
                </div>
              </div> 
        <% }) %>



      </div></div></div>

          </div>
    </div>
  </div>
  <div>
      <div class="pri_table_list">
        <br><br>
        <button><a href="/pincode">Order Pickup Now</a></button>
      </div>
  </div>
</div>

 <div id="rate" class="tab-pane pricing-area area-padding">
    <div class="tab-inner">
    <div class="container">
      <div class="tab-menu">
      <div class="pri_table_list">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <br><br>
            <h2>Complete Rate List</h2>
          </div>
        </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pri_table_list">
                  <h3>Small Clothes<br/></h3>
                  <ol text-align:center>
                    <li>Tie : Rs.2</li>
                    <li>Handkerchief : Rs.2</li>
                    <li>Undergarment(Lower) : Rs.2</li>
                    <li>Undergarment(Upper) : Rs.3</li>
                    <li>Socks: Rs.3</li>
                    <li>Scarf : Rs.3</li>
                    <li>Shrug : Rs.3</li>
                    <li>Blouse : Rs.3</li>
                    <li>Short Skirt : Rs.3</li>
                    <li>1/2 Pants : Rs.3</li>
                    <li>Dupatta : Rs.3</li>
                    <li>Pillow Cover : Rs.3</li>
                    <li>Hand Towel : Rs.3</li>
                    <li>Cap : Rs.3</li>
                  </ol>
                </div>
              </div> 
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pri_table_list">
                  <h3>Big Clothes<br/></h3>
                  <ol text-align:center>
                    <li>3/4 Pants : Rs.4</li>
                    <li>Half Sleeve Shirt : Rs.4</li>
                    <li>Half Sleeve T-Shirt : Rs.4</li>
                    <li>Full Sleeve Shirt : Rs.5</li>
                    <li>Full Sleeve T-Shirt : Rs.5</li>
                    <li>Jegging : Rs.5</li>
                    <li>Legging : Rs.5</li>
                    <li>Pyjama : Rs.5</li>
                    <li>Salwar : Rs.5</li>
                    <li>Trousers : Rs.5</li>
                    <li>Plazo : Rs.5</li>
                    <li>Lungi : Rs.5</li>
                    <li>Suit : Rs.6</li>
                    <li>Jeans : Rs.6</li>
                    <li>Kurti : Rs.7</li>
                    <li>Kurta : Rs.7</li>
                    <li>Long Towel : Rs.9</li>
                  </ol>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pri_table_list">
                  <h3>Super Big Clothes<br/></h3>
                  <ol text-align:center>
                    <li>Vest Coat : Rs.4</li>
                    <li>Turban (S) : Rs.5</li>
                    <li>Jump Suit : Rs.6</li>
                    <li>Peticot : Rs.6</li>
                    <li>Turban (M) : Rs.7</li>
                    <li>Nighty : Rs.7</li>
                    <li>Turban (L) : Rs.10</li>
                    <li>Saree : Rs.10</li>
                    <li>Bathrobe : Rs.12</li>
                    <li>Inner Woolen : Rs.15</li>
                    <li>Sweater : Rs.20</li>
                    <li>Jacket : Rs.20</li>
                    <li>Blanket : Rs.30</li>
                    <li>Bedsheet (SB) : Rs.30</li>
                    <li>Quilt : Rs.50</li>
                    <li>Bedsheet (DB) : Rs.50</li>
                  </ol>
                </div>
              </div>
            </div>
    </div>

  <div>
      <div class="pri_table_list">
        <br><br>
        <button><a href="/pincode">Order Pickup Now</a></button>
      </div>
  </div>
   </div>
</div>
</div>
</div>
  <!-- End pricing table area -->
   <% singleservices.forEach(function(singleservice){ %>  

 <div class="modal fade" style="z-index: 9999999999999; padding-top: 200px;" id="single<%= singleservice.amount %>" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><center><b>Single Plan : <%= singleservice.amount %>N</b></center></h4>
        </div>
        <div class="modal-body">
          <h4><center>
            Cost of the plan is Rs.<%= singleservice.amount %>/- per order.<br>
            <%= singleservice.totalClothes %> clothes can be washed and ironed.
          </h4></center>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

        <% }) %>

          <% plans.forEach(function(plan){ %>  

 <div class="modal fade" style="z-index: 9999999999999; padding-top:200px;" id="plan<%=plan.amount %>" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><center><b>Monthly Plan : <%= plan.amount %>N</b></center></h4>
        </div>
        <div class="modal-body">
          <h4><center>
            Cost of the plan is Rs.<%= plan.amount %>/- per order.<br>
            <%= plan.shortClothes %> small clothes and <%= plan.longClothes %> big clothes can be washed and ironed.<br>
            *Plan doesn't include super big clothes.<br>
            *Customer may avail two services in a week.<br>
            *Two small clothes can be exchanged against one big cloth.
          </h4></center>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

        <% }) %>
  <!-- Start About area -->
              
  <div id="about" class="tab-pane about-area area-padding">
    <div class="tab-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
      <br><br>
            <h2>Our Services</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <a href="#">
                  <img src="img/about/laundry.jpg" alt="">
                </a>
            </div>
          </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <h2>
               <center>Turnaround Time : 48 hrs.<br> Free Pickup & Delivery!!</center>
              </h2>
              <br>
              <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <ul><center>
                <li style="font-size: 25px;">
                  <i class="fa fa-check"></i> Clothes Washing
                </li>
                <li style="font-size: 25px;">
                  <i class="fa fa-check"></i> Clothes Ironing
                </li>
                <li style="font-size: 25px;">
                  <i class="fa fa-check"></i> Dry Cleaning
                </li>
                <li style="font-size: 25px;">
                  <i class="fa fa-check"></i> Shoes Cleaning
                </li></center>
              </ul>
            </div>
          </div>
        </div>
            </div>
          </div>
        </div>
        <!-- End col-->
      </div>
    </div>
  </div>
</div>
  <!-- End About area -->
  <!-- Start contact Area -->
  <div id="contact" class="tab-pane contact-area">
    <div class="contact-inner area-padding">
      <div class="tab-inner">
      <div class="contact-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <br><br>
              <h2>Contact us</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Start contact icon column -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-mobile"></i>
                <p>
                <b>Call:</b> <a href="tel:8178335478" style="font-size: 15px;color:black">+91 8178 33 5478</a><br>
                 <b>WhatsApp:</b><a href="https://wa.me/918510908590" style="font-size: 15px;color:black"> +91 8510 90 8590</a>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-envelope-o"></i>
                <p>
                 <b>Email:</b><a href="mailto: laundrybuoy@gmail.com" style="font-size: 15px;color:black"> laundrybuoy@gmail.com</a><br>
                  <b>Web:</b><a href="/" style="font-size: 15px;color:black"> www.laundrybuoy.com</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">


        </div>
      </div>
    </div>
</div>
</div>
</div>
</body>
  <!-- End Contact Area -->
 <!-- Start Testimonials -->

  <div class="testimonials-area">
    <div class="testi-inner area-padding">
      <div class="testi-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- Start testimonials Start -->
            <div class="testimonial-content text-center">
              <a class="quate" href="#"><i class="fa fa-quote-right"></i></a>
              <!-- start testimonial carousel -->
              <div class="testimonial-carousel">
                <div class="single-testi">
                  <div class="testi-text">
                    <p>I am highly impressed by the professionalism these young guys have demonstrated. They not only picked it from my doorstep but also delivered it within the given time and at a much cheaper rates. Keep up the good work! 
                    </p>
                    <h6>Rahul</h6>
                  </div>
                </div>
                <!-- End single item -->
                <div class="single-testi">
                  <div class="testi-text">
                    <p>
                      Have had them since their inauguration, after others service didn't work out. They have been outstanding. I have weekly pickups. They're like laundry fairies. They're incredibly professional, punctual, reliable, and do a fantastic job.
                    </p>
                    <h6>Anjali</h6>
                  </div>
                </div>
                <!-- End single item -->
                <div class="single-testi">
                  <div class="testi-text">
                    <p>
                      I got their flyer few days back and I am a regular user of their service since then. The quality they provide is satisfactory and the turnaround time is pretty fast. No one gives back in just 1 day. The best laundry service for a senior citizen like me.
                    </p>
                    <h6>Karan</h6>
                  </div>
                </div>
                <!-- End single item -->
              </div>
            </div>
            <!-- End testimonials end -->
          </div>
          <!-- End Right Feature -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Testimonials -->
  <!-- Start Footer bottom Area -->
  <footer>
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <h2><span>Laundry</span>Buoy</h2>
                </div>

                <p>Freedom from laundry.<br>We do the job you hate to do.<br><br>Follow us on :</p>
                <div class="footer-icons">
                  <ul>
                    <li>
                      <a href="https://www.facebook.com/LaundryBuoy/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="https://plus.google.com/114646534090280070226"><i class="fa fa-google"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4><b>Contact Us</b></h4>
                <p>
                 You can connect to us through
                </p>
                <div class="footer-contacts">
                  <p><span>Mobile:</span><a href="tel:8178335478" style="font-size: 15px;color:black"> 8178335478</a></p>
                  <p><span>WhatsApp:</span><a href="https://wa.me/918510908590" style="font-size: 15px;color:black"> 8510908590</a></p>
                  <p><span>Email:</span><a href="mailto: laundrybuoy@gmail.com" style="font-size: 15px;color:black"> laundrybuoy@gmail.com</a></p>
                  <p style="font-size: 15px;color:black"><span>Working Hours:</span> 9am-9pm (Fridays Off)</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
         <!-- <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4>Instagram</h4>
                <div class="flicker-img">
                  <a href="#"><img src="img/portfolio/1.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/2.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/3.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/4.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/5.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/6.jpg" alt=""></a>
                </div>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
    <div class="footer-area-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="copyright text-center">
              <p>
                &copy; Copyright 2018 <strong>LaundryBuoy</strong>. All Rights Reserved
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

<style type="text/css">
  .zoom {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 70px;
  border-radius: 50%;
  z-index: 9999999999;
}

.zoom-fab {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 0px;
  border-radius: 50%;
  background-color: #009688;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  transition: 0.2s ease-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #FFF;
}

.zoom-fab:hover {
  background-color: pink;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.zoom-btn-large {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color:  red;
}

.zoom-menu {
  position: absolute;
  bottom: 70px;
  top: auto;
  left: 50%;
  right: 150px;
  transform: translateX(-50%);
  width: 100%;
  height: 210px;
  line-height: 20px;
  list-style: none;
  text-align: bottom;
}

.zoom-menu li {
  display: inline-block;
  margin-bottom: 10px;
}

.zoom-card {
  position: absolute;
  bottom:  150px;
  right :70px;
  transition: box-shadow 0.25s;
  padding: 24px;
  border-radius: 2px;
  background-color: #009688;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: #FFF;
}

.zoom-card ul {
  -webkit-padding-start: 0;
  list-style: none;
  text-align: top;
}
.zoom-btn-person { background-color: #F44336; }

.zoom-btn-person:hover { background-color: #e57373; }

.zoom-btn-doc { background-color:  #FFA500; }

.zoom-btn-doc:hover { background-color: #fff176; }

.zoom-btn-tangram { background-color: #4CAF50; }

.zoom-btn-tangram:hover { background-color: #81c784; }

.zoom-btn-report { background-color: #2196F3; }

.zoom-btn-report:hover { background-color: #64b5f6; }

.zoom-btn-feedback { background-color: #9c27b0; }

.zoom-btn-feedback:hover { background-color: #ba68c8; }

.scale-transition { transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important; }

.scale-transition.scale-out {
  transform: scale(0);
  transition: transform 0.2s !important;
}

.scale-transition.scale-in { transform: scale(1); }
</style>
  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/knob/jquery.knob.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/parallax/parallax.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
  <script src="lib/appear/jquery.appear.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <script src="js/main.js"></script>
<script type="text/javascript">
  $('#zoomBtn').click(function() {
  $('.zoom-btn-sm').toggleClass('scale-out');
  if (!$('.zoom-card').hasClass('scale-out')) {
    $('.zoom-card').toggleClass('scale-out');
  }
});

$('.zoom-btn-sm').click(function() {
  var btn = $(this);
  var card = $('.zoom-card');
  if ($('.zoom-card').hasClass('scale-out')) {
    $('.zoom-card').toggleClass('scale-out');
  }
  if (btn.hasClass('zoom-btn-person')) {
    card.css('background-color', '#d32f2f');
  } else if (btn.hasClass('zoom-btn-doc')) {
    card.css('background-color', '#fbc02d');
  } else if (btn.hasClass('zoom-btn-tangram')) {
    card.css('background-color', '#388e3c');
  } else if (btn.hasClass('zoom-btn-report')) {
    card.css('background-color', '#1976d2');
  } else {
    card.css('background-color', '#7b1fa2');
  }
});

</script>
  <script>
   $('#myTab a').click(function (e) {
     e.preventDefault()
     $(this).tab('show')
   })
</script>
</body>

</html>