<!doctype html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript"> 
        function incQuantity(item) {
            var itemType = item.getAttribute("data-type");
            var quantity = parseInt($('#' + itemType).val());
            $('#' + itemType).val(quantity + 1);
        }
        function decQuantity(item) {
            var itemType = item.getAttribute("data-type");
            var quantity = parseInt($('#' + itemType).val());
            $('#' + itemType).val(quantity - 1);
        }
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <center><h1>Pickup Page</h1></center>
        <h3><br></h3>
        <center><h3>Small Clothes</h3></center>

        <% clothes.forEach(function(clothe){ if(clothe.category === 'small') { %>
  
            <div class="col-lg-2">
                <span><%= clothe.name %></span>
                            <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="<%= clothe.name %>" data-field="" onclick="decQuantity(this)">
                              <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" id="<%= clothe.name %>" name="<%= clothe.name %>" class="form-control input-number" value="0" min="0" max="30">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="<%= clothe.name %>" data-field="" onclick="incQuantity(this)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
            </div> 

        <% }}) %>
             
    </div>
</div>

<div class="container">
    <div class="row">
       <center><h5><br></h5></center>
       <center><h3>Big Clothes</h3></center>

       <% clothes.forEach(function(clothe){ if(clothe.category === 'big') { %>
  
            <div class="col-lg-2">
                <span><%= clothe.name %></span>
                            <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="<%= clothe.name %>" data-field="" onclick="decQuantity(this)">
                              <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" id="<%= clothe.name %>" name="<%= clothe.name %>" class="form-control input-number" value="0" min="0" max="30">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="<%= clothe.name %>" data-field="" onclick="incQuantity(this)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
            </div> 

        <% }}) %>
    </div>
</div>

<div class="container">
    <div class="row">
       <center><h5><br></h5></center>
       <center><h3>Super Big Clothes</h3></center>

       <% clothes.forEach(function(clothe){ if(clothe.category === 'superbig') { %>
  
            <div class="col-lg-2">
                <span><%= clothe.name %></span>
                            <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="<%= clothe.name %>" data-field="" onclick="decQuantity(this)">
                              <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" id="<%= clothe.name %>" name="<%= clothe.name %>" class="form-control input-number" value="0" min="0" max="30">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="<%= clothe.name %>" data-field="" onclick="incQuantity(this)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
            </div> 

        <% }}) %>
   </div>
</div>
                <center><h6>*Service Charges are extra as applicable.</h6></center>
</body>
</html>